nextflow.enable.dsl = 2

params {
    // Inputs
    reads = null   // eg. "data/*_{R1,R2}.fastq.gz"
    outdir = "results"
    sample_sheet = null    // optional CSV: sample_id,r1,r2

    // Alevin settings
    salmon_index = null
    libtype = "A"
    threads = 8

    // Metadata
    run_id = null
}

params {
  aws_region = "us-east-1"
  ddb_table  = "scetl_runs"

  // optional: when running with S3 publish dirs
  output_bucket = null
  output_prefix = null
}

process {
    withName: 'FASTQC' {
        cpus = 2
        memory = "4 GB"
    }

    withName: 'MULTIQC' {
        cpus = 1 
        memory = "2 GB"
    }

    withName: 'ALEVIN_QUANT' {
        cpus = params.threads
        memory = "32 GB"
    }

    withName: 'SCANPY_POST' {
        cpus = 2 
        memory = '8 GB'
    }

    container = 'local/scetl:latest'
}

profiles {
    local {
        docker.enabled = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
    }

    awsbatch {
        // Requires: AWS Batch queue + compute env, and ECR image
        process.executor = 'awsbatch'
        workDir = "s3://YOUR-BUCKET/nextflow-work"  // UPDATE
        aws.region = 'us.east-1'
        docker.enabled = true
    }

    // optional
    // process.queue = 'YOUR_BATCH_QUEUE'
}